* {
  box-sizing: border-box;
}

body {
  background-color: #f5f6ff;
}

.container {
  padding: 10px;
  background-color:white;
  max-width:fit-content;
  margin:20px auto;

}

.btn {
  border: none;
  padding: 7px 15px;
  font-size:17px;
  border-radius:5px;
  cursor: pointer;
}

.btn-add{
  background-color:#194064;
  color:white;
}

.addContainer {
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  left:0;
  right:0;
  bottom:0;
  top:0;
  display:flex;
  justify-content:center;
  align-items:center;
}

.addContainer form{
width:600px;
background-color: white;
display:flex;
flex-direction:column;
padding:50px 40px;
box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
border-radius:5px;
}

.addContainer form label {
  font-size: 18px;

}

.addContainer form input{
  font-size:18px;
  padding:5px;
  margin-top:5px;
 margin-bottom:10px;
}

.addContainer form button {
  background-color: royalblue;
  color:white;
  font-weight:500px;
  margin-top:20px;
}

.addContainer form .close-btn {
  margin-left:auto;
  font-size:18px;
  width:20px;
  height:20px;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius:20px;
  border: 1px solid #000;
  cursor: pointer;
}


.tableContainer {
  margin-top:50px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  border-radius :5px;
}

.addContainer table {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}


.tableContainer table thead tr{
  background-color: #a8dadc;
}

.tableContainer table thead tr th,
.tableContainer table tbody tr td{
min-width: 190px;
padding:7px;
text-align:center;
}


.tableContainer table tbody tr{
border: 1px solid #c9c5c2;
}

.tableContainer table tbody tr td{
  border-bottom : 1px solid #c9c5c2;
}

.btn-edit,
.btn-delete {
  font-size:16px;
  padding: 5px 10px;
  margin: 0px 10px;
}


.btn-edit {
  background-color: #52b788;
}

.btn-delete {
  background-color: #e63946;
  color: white;
}




.navbar {
  background-color: #457b9d;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.navbar h1 {
  margin: 0;
  padding: 0;
}